body {
  margin: 0px; 
}

#navbar .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#navbar .sticky + .content {
#navbaradding-top: 60px;
}

#navbar ul {
  /*text-align: center;*/
  position: fixed;
  z-index: 100;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

#navbar li a:hover:not(.active) {
  background-color: #111;
}

#navbar .active {
  background-color: #4CAF50;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("img1.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 85%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.content .column {
  /*float: left;*/
  padding: 10px;
  /*height: 200px;  Should be removed. Only for demonstration */
}

.content .left {
  float: left;
  background-color: #007d10;
  color: white;
  margin: 0px;
  width: 20%;
  height: 1000px;
}

.content .right {
  width: 65%;
  border: 2px solid transparent;
  border-radius: 25px;
  margin: 0 0% 1% 27%;
  height: 200px;
  background-color: #e6e6e6;
}
.content .right:hover{
  border: 2px solid #cfcfcf;
  cursor: pointer;
}

/* Clear floats after the columns */
.content .row:after {
  content: "";
  display: table;
  clear: both;
}
.content ul li{
  display: block;
  padding: 20px;
}

.footer {
  display: block;
  height: 200px;
  background-color: black;
  color: white;
  padding: 40px 20px;
  margin: 0px;
}